
@{
    ViewBag.Title = "Change Calculator";
}

<div class="labContainer">
    <h2>@ViewBag.Title</h2>

    <form method="get">
            <p>Welcome! Please enter an amount of money:</p>
            <div class="row">
                $ <input class="col-md-3" type="text" name="userMoney" />
                <div class="col-md-1"><input type="submit" value="Submit" class="btn btn-success" /></div>
                <div class="col-md-1">
                    @Html.ActionLink("Clear", "ChangeLab", "MiniProjects", null, new { @class = "btn btn-danger" })
                </div>
            </div>
        
    </form>

    @if (ViewBag.Answer != null)
    {
        <h4 class="answer text-center">@Html.Raw(ViewBag.Answer)</h4>
    }
    <a href="@Url.Action("Index", "MiniProjects")">Go Back</a>

</div>