
@{
    ViewBag.Title = "MadLib";
}

<div class="labContainer">
    <h2>@ViewBag.Title</h2>

    <form method="get">
        <h4>Please fill out the following fields to generate a dynamic story!</h4>
        <div class="row">
            <div class="col-md-2"><input type="text" name="noun" placeholder="Noun" /></div>
            <div class="col-md-2"><input type="text" name="adjective" placeholder="Adjective" /></div>
            <div class="col-md-2"><input type="text" name="pTVerb" placeholder="Past Tense Verb" /></div>
            <div class="col-md-2"><input type="text" name="adverb" placeholder="Adverb" /></div>
            <div class="col-md-2"><input type="submit" value="Generate story!" class="btn btn-success" /></div>
            <div class="col-md-1">
                @Html.ActionLink("Clear", "MadLib", "MiniProjects", null, new { @class = "btn btn-danger" })
            </div>

        </div>
    </form>

    @if (ViewBag.Answer != null)
    {
        <h2 class="answer text-center">@ViewBag.Answer</h2>
    }
    <a href="@Url.Action("Index", "MiniProjects")">Go Back</a>

</div>

