.labContainer {
    width: 95%;
    margin: 2em auto 2em auto;
}

    .labContainer h2, .labContainer h3, .labContainer p, .labContainer input, .labContainer h4 {
        margin-bottom: 1em;
    }

    #contactConfirm{
        display:none;
    }