<section id="about" class="about">
    <div class="container">

        <div class="row no-gutters">
            <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
            <div class="col-xl-7 pl-0 pl-lg-5 pr-lg-1 d-flex align-items-stretch">
                <div class="content d-flex flex-column justify-content-center" style="text-align:justify;">
                    <h3>About Me</h3>
                    <p>
                        I have worked in various customer service positions over the last seven years. In that time, I have honed many soft skills. As part of the management staff in the retail industry, it was crucial that my communication, ability to problem solve, and customer satisfaction was always at the top of its game. Juggling multiple projects at once while also managing staff was essential in making sure that the store ran smoothly and that the customer experience was a pleasant and productive one. As much as I enjoyed working in retail, I knew that it was not my career, but simply a stop along the way. I ’m a creative person and I’m drawn to where my creativity can be used, and once I looked into programming, I fell in love with how creative of a field it is! Working through problems and reaching a solution, all the while creating something in the process, is my dream job. And that is exactly what I’m learning how to do. I am not only learning how to work hands-on with the different pieces of an application, but how to connect them, and how to problem-solve and self-teach when I am faced with something I don’t know yet. I am thrilled to take that into a team environment, to be able to work collaboratively with others in creating a high-quality product. I am so excited to begin this journey. If you feel like you have any opportunities that my skillset would suit, please feel free to connect with me on LinkedIn.

                    </p>
                </div>
            </div>
        </div>

    </div>
</section>
<section id="resume" class="resume section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Resume</h2>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title">Summary</h3>
                <div class="resume-item pb-0">
                    <h4>Sarah Ledford</h4>
                    <p><em>Full Stack Web Developer</em></p>
                    <p>
                        <ul>
                            <li>Overland Park, KS</li>
                            <li>Sarah_Ledford@outlook.com</li>
                        </ul>
                    </p>
                </div>

                <h3 class="resume-title">Technical Training</h3>
                <div class="resume-item">
                    <h4><strong>Full Stack Web Developer Program, </strong>Centriq Training</h4>
                    <h5>Anticipated Graduation: 04/2021</h5>
                    <p><em>Kansas City, MO</em></p>
                    <p>Core Competencies:</p>
                    <ul>
                        <li>MVC Framework</li>
                        <li>Trouble Shooting &amp; Debugging</li>
                        <li>Source Control</li>
                        <li>Agile/Scrum (Created Team Project)</li>
                        <li>Website Deployment</li>
                        <li>Pair Programming</li>
                        <li>Code Review</li>
                    </ul>
                </div>
                <!-- Button trigger modal -->
                <button type="button" class="resumeButton" data-toggle="modal" data-target="#exampleModal">
                    See Full Resume
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title" id="exampleModalLabel">Resume</h2>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <h3 class="resume-title">Summary</h3>
                                            <div class="resume-item pb-0">
                                                <h4>Sarah Ledford</h4>
                                                <p><em>Full Stack Web Developer</em></p>
                                                <p>
                                                    <ul>
                                                        <li>Overland Park, KS</li>
                                                        <li>Sarah_Ledford@outlook.com</li>
                                                    </ul>
                                                </p>
                                            </div>

                                            <h3 class="resume-title">Technical Training</h3>
                                            <div class="resume-item">
                                                <h4><strong>Full Stack Web Developer Program, </strong>Centriq Training</h4>
                                                <h5>Anticipated Graduation: 04/2020</h5>
                                                <p><em>Kansas City, MO</em></p>
                                                <p>Core Competencies:</p>
                                                <ul>
                                                    <li>MVC Framework</li>
                                                    <li>Trouble Shooting &amp; Debugging</li>
                                                    <li>Source Control</li>
                                                    <li>Agile/Scrum (Created Team Project)</li>
                                                    <li>Website Deployment</li>
                                                    <li>Pair Programming</li>
                                                    <li>Code Review</li>
                                                </ul>
                                            </div>
                                            <h3 class="resume-title">Professional Experience</h3>
                                            <div class="resume-item">
                                                <h4>Keyholder</h4>
                                                <h5>2020 - 2021</h5>
                                                <p><em>Thirft Management Specialists, Overland Park, KS </em></p>
                                                <p>
                                                    <ul>
                                                        <li>Worked with upper management to ensure a smooth-running store, which included handling up to 5 projects at one time.</li>
                                                        <li>Assisted in every role in the store, cultivating teamwork and rapport with staff.</li>
                                                        <li>Counted cash register drawers of up to $1700 daily.</li>
                                                        <li>Ensured store was reset at night and prepared for the next day.</li>
                                                    </ul>
                                                </p>
                                            </div>
                                            <div class="resume-item">
                                                <h4>Appointment Setter</h4>
                                                <h5>2019 - 2019</h5>
                                                <p><em>Big 6 Media, Overland Park, KS</em></p>
                                                <p>
                                                    <ul>
                                                        <li>Contacted 80 potential customers/day and scheduled phone meetings between them and the Sales point-of-contact.</li>
                                                        <li>Built rapport and trust with the customers.</li>
                                                        <li>Managed a shared calendar through Google Calendar to book appointments.</li>
                                                    </ul>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6" style="padding-top: 4.5em">
                                            <div class="resume-item">
                                                <h4>Server</h4>
                                                <h5>2018 - 2019</h5>
                                                <p><em>Carrabba's Italian Grill, Overland Park, KS </em></p>
                                                <p>
                                                    <ul>
                                                        <li>Utilized a POS system to input customer orders, balance when items would be pushed out to the table, and process payment.</li>
                                                        <li>Patiently considered customer’s needs, especially those with food allergies or special diets.</li>
                                                        <li>Served up to 10 tables at once and streamlined processes for efficiency.</li>
                                                        <li>Cleaned tables, floors, and serving area to ensure a clean and safe dining experience.</li>
                                                    </ul>
                                                </p>
                                            </div>
                                            <div class="resume-item">
                                                <h4>Store Associate</h4>
                                                <h5>2018 - 2018</h5>
                                                <p><em>Forever 21, Overland Park, KS</em></p>
                                                <p>
                                                    <ul>
                                                        <li>Maintained cleanliness and organization to accommodate for hundreds of daily customers.</li>
                                                        <li>Assisted customers to ensure a satisfying shopping experience.</li>
                                                        <li>Operated and troubleshot the cash register POS system and kept a balanced cash drawer. Maintained a strict quota for credit card sign-ups in computer system and went beyond the quota, bringing the store up to the No. 1 in the region for sign-ups.</li>
                                                    </ul>
                                                </p>
                                            </div>
                                            <div class="resume-item">
                                                <h4>Transcriptionist</h4>
                                                <h5>2018 - 2018</h5>
                                                <p><em>GMR Transcription Services, Inc., Remote</em></p>
                                                <p>
                                                    <ul>
                                                        <li>Worked remotely, which required thorough professional communication through email and instant messaging in order to organize projects with management.</li>
                                                        <li>Transcribed audio files of varying subjects and audio qualities into Word documents, formatted to the customer's requirements using specialized software.</li>
                                                        <li>Completed and turned in projects by deadline while maintaining quality work.</li>
                                                    </ul>
                                                </p>
                                            </div>
                                            <div class="resume-item">
                                                <h4>Waitress</h4>
                                                <h5>2013 - 2015</h5>
                                                <p><em>Cheeburger Cheeburger, Enterprise, AL</em></p>
                                                <p>
                                                    <ul>
                                                        <li>Utilized POS system to input orders, manage online orders, and process payment.</li>
                                                        <li>Ensured timely delivery of all customer requests for up to 10 tables at a time.</li>
                                                        <li>Took care to make sure each order was entered, made, and delivered correctly.</li>
                                                        <li>Ran the phones to take to-go orders, answer questions, and provide any additional information the customer may have required.</li>
                                                    </ul>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="~/Content/assets/applications/Sarah Ledford Resume IT.pdf" title="Download" target="_blank" class="resumeDownload"><i class="bx bx-arrow-to-bottom"></i></a>
                                <button type="button" class="resumeClose" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Modal -->
            </div>
            <div class="col-lg-6">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Keyholder</h4>
                    <h5>2020 - 2021</h5>
                    <p><em>Thirft Management Specialists, Overland Park, KS </em></p>
                    <p>
                        <ul>
                            <li>Worked with upper management to ensure a smooth-running store, which included handling up to 5 projects at one time.</li>
                            <li>Assisted in every role in the store, cultivating teamwork and rapport with staff.</li>
                            <li>Counted cash register drawers of up to $1700 daily.</li>
                            <li>
                                Ensured store was reset at night and prepared for the next day.
                            </li>
                        </ul>
                    </p>
                </div>
                <div class="resume-item">
                    <h4>Appointment Setter</h4>
                    <h5>2019 - 2019</h5>
                    <p><em>Big 6 Media, Overland Park, KS</em></p>
                    <p>
                        <ul>
                            <li>Contacted 80 potential customers/day and scheduled phone meetings between them and the Sales point-of-contact.</li>
                            <li>Built rapport and trust with the customers.</li>
                            <li>Managed a shared calendar through Google Calendar to book appointments.</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Resume Section -->
<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Portfolio</h2>
            <p>Come check out some of the stuff I've made!</p>
        </div>

        <div class="row portfolio-container">

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/Content/assets/img/portfolio/close-up-wool-knitting-wooden-background2.jpg" class="img-fluid" alt="logo for Threads of Magic web site">
                    <a style="display:none;" href='https://www.freepik.com/photos/hand'>Hand photo created by devmaryna - www.freepik.com</a>
                    <div class="portfolio-info">
                        <h4>Threads of Magic</h4>
                        <p>Web Application</p>
                    </div>
                    <div class="portfolio-links">

                        <a href="http://threadsofmagic.sarahledford.com/" title="Visit Site" target="_blank"><i class="bx bx-link"></i></a>
                        <a href="https://github.com/SarahLedford/FED1StudioProject" title="Github Repo" target="_blank"><i class="bx bxl-github"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="~/Content/assets/img/portfolio/AlienContainmentImg.jpg" class="img-fluid" alt="logo for Alien:Containment application">
                    <div class="portfolio-info">
                        <h4>Alien: Containment</h4>
                        <p>C# Game</p>
                    </div>
                    <div class="portfolio-links">
                        <a href="~/Content/assets/applications/ConsoleApp.zip" title="Download" target="_blank"><i class="bx bx-arrow-to-bottom"></i></a>
                        <!-- TODO add README -->
                        <a href="https://github.com/SarahLedford/DungeonApp" title="Github Repo" target="_blank"><i class="bx bxl-github" target="_blank"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/Content/assets/img/portfolio/MiniProjects.jpg" class="img-fluid" alt="Photo by Amol Tyagi on Unsplash">

                    <div class="portfolio-info">
                        <h4>Mini Projects</h4>
                        <p>Small projects utilizing MVC</p>
                    </div>
                    <div class="portfolio-links">
                       
                        <a href="@Url.Action("Index", "MiniProjects")" title="View Projects" target="_blank"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/Content/assets/img/portfolio/ComingSoon.jpg" class="img-fluid" alt="Coming soon placeholder">
                    <div class="portfolio-info">
                        <h4>Storefront</h4>
                        <p>Application</p>
                    </div>
                    <div class="portfolio-links">
                        <a href="~/Content/assets/img/portfolio/ComingSoon.jpg" title="Download" target="_blank"><i class="bx bx-arrow-to-bottom"></i></a>
                        <!-- TODO make downloadable -->
                        <a href="https://github.com/SarahLedford" title="Github Repo" target="_blank"><i class="bx bxl-github" target="_blank"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/Content/assets/img/portfolio/ComingSoon.jpg" class="img-fluid" alt="Coming soon placeholder">
                    <div class="portfolio-info">
                        <h4>SAT</h4>
                        <p>Application</p>
                    </div>
                    <div class="portfolio-links">
                        <a href="~/Content/assets/img/portfolio/ComingSoon.jpg" title="Download" target="_blank"><i class="bx bx-arrow-to-bottom"></i></a>
                        <!-- TODO make downloadable -->
                        <a href="https://github.com/SarahLedford" title="Github Repo" target="_blank"><i class="bx bxl-github" target="_blank"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/Content/assets/img/portfolio/ComingSoon.jpg" class="img-fluid" alt="Coming soon placeholder">
                    <div class="portfolio-info">
                        <h4>Final Project</h4>
                        <p>Application</p>
                    </div>
                    <div class="portfolio-links">
                        <a href="~/Content/assets/img/portfolio/ComingSoon.jpg" title="Download" target="_blank"><i class="bx bx-arrow-to-bottom"></i></a>
                        <!-- TODO make downloadable -->
                        <a href="https://github.com/SarahLedford" title="Github Repo" target="_blank"><i class="bx bxl-github" target="_blank"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/Content/assets/img/portfolio/ComingSoon.jpg" class="img-fluid" alt="Coming soon placeholder">
                    <div class="portfolio-info">
                        <h4>?</h4>
                        <p>Application</p>
                    </div>
                    <div class="portfolio-links">
                        <a href="~/Content/assets/img/portfolio/ComingSoon.jpg" title="Download" target="_blank"><i class="bx bx-arrow-to-bottom"></i></a>
                        <!-- TODO make downloadable -->
                        <a href="https://www.github.com/SarahLedford" title="Github Repo" target="_blank"><i class="bx bxl-github" target="_blank"></i></a>
                    </div>
                </div>
            </div>


        </div>

    </div>
</section><!-- End Portfolio Section -->
<!-- ======= Links Section ======= -->
<section id="testimonials" class="testimonials section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Links</h2>
        </div>

        <div class="owl-carousel testimonials-carousel">
            <!-- <div class="testimonial-item">
                <a href="http://www.courtneycrespo.com/">
                    <img src="~/Content/assets/img/testimonials/CourtneyC.jpg" class="testimonial-img" alt="">
                    <h3>Courtney Crespo</h3>
                    <h4>Full Stack Web Dev</h4>
                </a>
            </div> -->
            <!--
                                <div class="testimonial-item">
                                    <img src="~/Content/assets/img/testimonials/placeholderForLinksClassmates.png" class="testimonial-img" alt="">
                                    <h3>CJ Discavage</h3>
                                    <h4>Full Stack Web Dev</h4>
                                </div>

                                <div class="testimonial-item">
                                    <img src="~/Content/assets/img/testimonials/placeholderForLinksClassmates.png" alt="">
                                    <h3>Colton Weeks</h3>
                                    <h4>Full Stack Web Dev</h4>
                                </div>
            -->
            <div class="testimonial-item">
                <a href="http://www.jordanhickman.com/" title="Visit Site" target="_blank">
                    <img src="~/Content/assets/img/testimonials/JHickman.jpg" class="testimonial-img" alt="Profile of Jordan Hickman">
                    <h3>Jordan Hickman</h3>
                    <h4>Full Stack Web Dev</h4>
                </a>

            </div>

            <div class="testimonial-item">
                <a href="http://www.sawyergobin.com/" title="Visit Site" target="_blank">
                    <img src="~/Content/assets/img/testimonials/SGobin.jpg" class="testimonial-img" alt="Profile of Sawyer Gobin">
                    <h3>Sawyer Gobin</h3>
                    <h4>Full Stack Web Dev</h4>
                </a>

            </div>
            <!--  <div class="testimonial-item">
                                    <a href="http://www.codebywes.com/" title="Visit Site" target="_blank">
                                        <img src="~/Content/assets/img/testimonials/WesNelson (1).jpg" class="testimonial-img" alt="">
                                        <h3>Wesley Nelson</h3>
                                        <h4>Full Stack Web Dev</h4>
                                    </a>
                                </div>
            -->
            <div class="testimonial-item">
                <a href="http://www.centriq.com/" title="Visit Site" target="_blank">
                    <img src="~/Content/assets/img/testimonials/centriqlogo.png" class="testimonial-img" alt="">
                    <h3>Centriq Training</h3>
                    <h4>Education</h4>
                </a>
            </div>
        </div>

    </div>
</section><!-- End Links Section -->
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact section-bg">
    <!-- Contact section not operable yet -->
    <div class="container">

        <div class="section-title">
            <h2>Contact</h2>
            <p>
                Let's communicate! Fill out the form below, and I'll reach back out promptly.
                <span style="color:red"><strong>CONTACT FORM UNDER CONSTRUCTION</strong></span>
            </p>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-4">
                <div class="contact-about">
                    <h3>Social Media</h3>
                    <p>Come check out my social media accounts below. Let's connect!</p>
                    <div class="social-links">
                        <a href="https://www.github.com/SarahLedford" class="gitHub" target="_blank"><i class="bx bxl-github"></i></a>
                        <a href="https://www.linkedin.com/in/sarah-ledford/" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="info">
                    <div>
                        <i class="icofont-google-map"></i>
                        <p>Overland Park, KS</p>
                    </div>

                    <div>
                        <i class="icofont-envelope"></i>
                        <p>Sarah_Ledford@outlook.com</p>
                    </div>


                </div>
            </div>
            <div class="col-lg-5 col-md-8">
                <div id="contactForm">
                    @Html.Partial("ContactAjax", new PersonalSiteMVC.UI.MVC.Models.ContactViewModel())
                </div>
                <div id="contactConfirm">
                    @Html.Partial("EmailConfirm", new PersonalSiteMVC.UI.MVC.Models.ContactViewModel())
                </div>
            </div>
            @*<div class="col-lg-5 col-md-8">
            <form class="contactForm" action="#" method="get" onsubmit="validateForm(event)">
                <div class="form-group">
                    <input type="text" id="tbName" name="name" class="form-control" placeholder="Your name" />
                    <span id="errorName" class="invalid"></span>
                </div>
                <div class="form-group">
                    <input type="text" id="tbEmail" name="email" class="form-control" placeholder="Email" />
                    <span id="errorEmail" class="invalid"></span>
                </div>
                <div class="form-group">
                    <input type="text" id="tbSubject" name="subject" class="form-control" placeholder="Subject" />
                    <span id="errorSubject" class="invalid"></span>
                </div>
                <div class="form-group">
                    <textarea id="tbMessage" name="message" class="form-control"
                              placeholder="Message"></textarea>
                    <span id="errorMessage" class="invalid"></span>
                </div>
                <div class="text-center"><button class="submitButton" type="submit">Send Message</button></div>
            </form>
        </div>*@

        </div>

    </div>
</section><!-- End Contact Section -->