<section id="about" class="about">
    <div class="container">

        <div class="row no-gutters">
            <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
            <div class="col-xl-7 pl-0 pl-lg-5 pr-lg-1 d-flex align-items-stretch">
                <div class="content d-flex flex-column justify-content-center" style="text-align:justify;">
                    <h3>About Me</h3>
                    <p>
                        I have worked in various customer service positions over the last seven years. In that time, I have honed many soft skills. As part of the management staff in the retail industry, it was crucial that my communication, ability to problem solve, and customer satisfaction was always at the top of its game. Juggling multiple projects at once while also managing staff was essential in making sure that the store ran smoothly and that the customer experience was a pleasant and productive one. As much as I enjoyed working in retail, I knew that it was not my career, but simply a stop along the way. I ’m a creative person and I’m drawn to where my creativity can be used, and once I looked into programming, I fell in love with how creative of a field it is! Working through problems and reaching a solution, all the while creating something in the process, is my dream job. And that is exactly what I’m learning how to do. I am not only learning how to work hands-on with the different pieces of an application, but how to connect them, and how to problem-solve and self-teach when I am faced with something I don’t know yet. I am thrilled to take that into a team environment, to be able to work collaboratively with others in creating a high-quality product. I am so excited to begin this journey. If you feel like you have any opportunities that my skillset would suit, please feel free to connect with me on LinkedIn.

                    </p>
                </div>
            </div>
        </div>

    </div>
</section>