<section id="about" class="about">
    <div class="container">

        <div class="row no-gutters">
            <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
            <div class="col-xl-7 pl-0 pl-lg-5 pr-lg-1 d-flex align-items-stretch">
                <div class="content d-flex flex-column justify-content-center">
                    <h3>About Me</h3>
                    <p>
                        I have worked in various customer service positions over the last seven years. In that time, I have honed many soft skills. As part of the management staff in the retail industry, it was imperative that my communication and ability to problem solve and keep customers happy was always at the top of its game. Juggling multiple projects at once while also managing staff was essential in making sure that the store ran smoothly and that the customer experience was a pleasant and productive one. As much as I enjoyed working in retail, I knew that it was not my career, but simply a stop along the way. I had thought about programming in the past without looking into it, but once I did, I fell in love with how creative of a field it is! Working through problems and reaching a solution, all the while creating something in the process, is my dream job, and I am thrilled to be on this journey!
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>